Assign Container Profile/Output/*
Assign Container Profile/secrets.py
Assign Container Profile/secrets.pyc
Assign Container Profile/__pycache__/
Top Container - Assign Location for Iron Mountain/secrets/*
Top Container - Assign Location for Iron Mountain/secrets.py
Top Container - Assign Location for Iron Mountain/secrets.pyc
Top Container - Assign Location for Iron Mountain/Output/*
Top Container - Assign Location for Iron Mountain/saved_output
Top Container - Assign Location for Iron Mountain/saved_output
Top Container - Assign Location for Iron Mountain/drafts
Top Container - Assign Location for Iron Mountain/input
Top Container - Assign Location for Iron Mountain/__pycache__/
Top Containers - Create New/input
Top Containers - Create New/Output/*
Top Containers - Create New/secrets
Top Containers - Create New/secrets.py
Top Containers - Create New/secrets.pyc
Top Containers - Create New/sources-modified
Top Containers - Create New/drafts
Top Containers - Create New/Processing
Top Containers - Create New/__pycache__/